<form method="post" action="/api/accounts/new">
  <div class="form-group">
    {{#if error}}
      <div class="row">
        <div class="col-md-12">
          <p class="text-danger"><strong>{{error}}</strong></p>
        </div>
      </div>
    {{/if}}
    <div class="row">
      <div class="col-md-6">
        <h4>You are registering a local account on {{servername}} via
        mTLS authentication with the following Credential Certificate</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
      <ul>
          <li>Issuer: {{cert.issuer}}</li>
          <li>Validity: {{cert.valid_after}} - {{cert.valid_until}}</li>
          <li>Subject: {{cert.subject}}</li>
          <li>Serial Number (hex): {{cert.serialnumber}}</li>
      </ul>
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <p><strong>Derived WebID: </strong>{{{username}}}</p>
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <input type="hidden" name="returnToUrl" value="{{returnToUrl}}" />
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" id="register">Register</button>

        {{> auth/auth-hidden-fields}}
      </div>

      <div class="col-md-10">
        <div>Already have an account?
          <a class="btn btn-xs btn-default"
             href="{{{loginUrl}}}">
            Log In
          </a>
        </div>
      </div>
    </div>
  </div>
</form>
